fastapi
uvicorn
pydantic
alembic
psycopg2-binary
neo4j
langchain
langchain-community
langchain-astradb
langgraph
playwright
duckduckgo-search
beautifulsoup4
pypdf
python-docx
tiktoken
openai
redis
httpx[http2]
asyncio-throttle
prometheus-fastapi-instrumentator
prometheus-client
pytest-mock
langsmith

networkx
scikit-learn
sentence-transformers

