fastapi
uvicorn[standard]
psycopg2-binary
redis
pydantic>=2.4.0
openai
playwright
beautifulsoup4==4.12.3
langgraph
ddgs>=8.1.0
python-dotenv
spacy>=3.7.2
pydantic-settings
sentence-transformers
cassio
networkx==3.1
pytest
httpx
scikit-learn